* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial;
    margin: 0;
}

/* Header Styles */

.header {
    background-image: url(../images/movie.jpg);
    background-position: center;
    height: 250px;
    display: block;
    background-color:gray;
    background-size: auto 100%;
    background-repeat: no-repeat;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-left: 200px;
    padding-top: 100px;
    color:white;
    font-size: 21px;
   
    
    
}

h2 {
    display: flex;
    justify-content: center;
}

.header-movie {
  padding-right: 20px; 
    font-size: 40px;
    display: flex;
    justify-content: center;
    color:white;
}

.header-movieTwo {
    font-size: 15px;
    display: flex;
    justify-content: center;
    color:white;
    padding-top: 60px;
    padding-right: 45px;
}

.input {
    border: solid;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
}

.btn {
    margin-left: 20px;
}
#display-results {
    border: dotted;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-direction: column;
    margin: 20px;
}

#back-button {
    background-color: yellow;
    height: 50px;
    width: 80px;
    border-radius: 10px;
   margin-top: 30px;
   margin-left: 20px;
}

#page {
    margin-top: 20px;
    font-size: 25px;
}

#style {
    font-size: 25px;
}

#display-results div {
    display: flex;
    justify-content: center;
}
